<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	<!-- Update to your SQL Server -->
	<add name="ReportDb" connectionString="Data Source=localhost;Initial Catalog=ReportManagerDemo;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
	<bindings>
	  <basicHttpBinding>
		<binding name="StreamedResponseBinding"
				 transferMode="StreamedResponse"
				 maxReceivedMessageSize="2147483647"
				 maxBufferSize="65536"
				 maxBufferPoolSize="2147483647">
		  <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
		</binding>
	  </basicHttpBinding>
	</bindings>

	<services>
	  <service name="ReportManager.Server.ReportService">
		<endpoint address="http://localhost:8733/ReportService"
				  binding="basicHttpBinding"
				  contract="ReportManager.ApiContracts.Services.IReportService" />
		<host>
		  <baseAddresses>
			<add baseAddress="http://localhost:8733/ReportService"/>
		  </baseAddresses>
		</host>
	  </service>
	  <service name="ReportManager.Server.ReportDownloadService">
		<endpoint address="http://localhost:8733/ReportDownloadService"
				  binding="basicHttpBinding"
				  bindingConfiguration="StreamedResponseBinding"
				  contract="ReportManager.ApiContracts.Services.IReportDownloadService" />
		<host>
		  <baseAddresses>
			<add baseAddress="http://localhost:8733/ReportDownloadService"/>
		  </baseAddresses>
		</host>
	  </service>
	</services>
	<behaviors>
	  <serviceBehaviors>
		<behavior>
		  <serviceMetadata httpGetEnabled="true" />
		  <serviceDebug includeExceptionDetailInFaults="true" />
		</behavior>
	  </serviceBehaviors>
	</behaviors>
  </system.serviceModel>
</configuration>
