<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Update to your SQL Server -->
		<add name="ReportDb" connectionString="Data Source=localhost;Initial Catalog=ReportManagerDemo;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="ApiBaseUrl" value="http://localhost:8733" />
	</appSettings>
</configuration>