<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
	<bindings>
	  <basicHttpBinding>
		<binding name="ReportServiceBinding"
				 maxReceivedMessageSize="10485760"
				 maxBufferSize="10485760" />
		<binding name="StreamedResponseBinding"
				 transferMode="StreamedResponse"
				 maxReceivedMessageSize="2147483647"
				 maxBufferSize="65536"
				 maxBufferPoolSize="2147483647">
		  <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
		</binding>
	  </basicHttpBinding>
	</bindings>
	<client>
	  <endpoint address="http://localhost:8733/ReportService"
				binding="basicHttpBinding"
				bindingConfiguration="ReportServiceBinding"
				contract="ReportManager.ApiContracts.Services.IReportService"
				name="ReportServiceEndpoint" />
	  <endpoint address="http://localhost:8733/ReportDownloadService"
				binding="basicHttpBinding"
				bindingConfiguration="StreamedResponseBinding"
				contract="ReportManager.ApiContracts.Services.IReportDownloadService"
				name="ReportDownloadServiceEndpoint" />
	</client>
  </system.serviceModel>
</configuration>
